In [2]:
import pandas as pd
import numpy as np

In [5]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
arr

array([10, 20, 30])

my_data

In [9]:
my_data

[10, 20, 30]

In [10]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(arr,index=labels)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
ser1=pd.Series([1,2,3,4],['INDIA','RUSSIA','USSR','JAPAN'])

In [17]:
ser1

INDIA     1
RUSSIA    2
USSR      3
JAPAN     4
dtype: int64

In [18]:
ser2=pd.Series([1,2,3,4],['INDIA','RUSSIA','USSR','JAPAN'])

In [19]:
ser2

INDIA     1
RUSSIA    2
USSR      3
JAPAN     4
dtype: int64

In [21]:
ser1['INDIA']

1

In [22]:
ser3=pd.Series(data=)

SyntaxError: invalid syntax (<ipython-input-22-1a8c2459c8c6>, line 1)