In [ ]:
import pandas as pd
import scipy.stats as stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
df=pd.read_csv('2_difi.csv')
df

In [3]:
df

NameError: name 'df' is not defined

In [ ]:
df

In [5]:
df

NameError: name 'df' is not defined

In [6]:
df

NameError: name 'df' is not defined

In [7]:
df

NameError: name 'df' is not defined

In [8]:
df

NameError: name 'df' is not defined

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
person    15 non-null int64
dose      15 non-null int64
libido    15 non-null int64
dtypes: int64(3)
memory usage: 440.0 bytes

In [11]:
df.describe()

          person       dose     libido
count  15.000000  15.000000  15.000000
mean    8.000000   2.000000   3.466667
std     4.472136   0.845154   1.767430
min     1.000000   1.000000   1.000000
25%     4.500000   1.000000   2.000000
50%     8.000000   2.000000   3.000000
75%    11.500000   3.000000   4.500000
max    15.000000   3.000000   7.000000

In [12]:
df.isna()

    person   dose  libido
0    False  False   False
1    False  False   False
2    False  False   False
3    False  False   False
4    False  False   False
5    False  False   False
6    False  False   False
7    False  False   False
8    False  False   False
9    False  False   False
10   False  False   False
11   False  False   False
12   False  False   False
13   False  False   False
14   False  False   False

In [13]:
df.isna().any()

person    False
dose      False
libido    False
dtype: bool

In [9]:
df.head(10)

NameError: name 'df' is not defined

In [17]:
df.tail(-5)

    person  dose  libido
5        6     2       5
6        7     2       2
7        8     2       4
8        9     2       2
9       10     2       3
10      11     3       7
11      12     3       4
12      13     3       5
13      14     3       3
14      15     3       6

In [18]:
df.drop('person',axis=1,inplace=True)

In [19]:
df

    dose  libido
0      1       3
1      1       2
2      1       1
3      1       1
4      1       4
5      2       5
6      2       2
7      2       4
8      2       2
9      2       3
10     3       7
11     3       4
12     3       5
13     3       3
14     3       6

In [11]:
df['dose'].replace({1:'placebo',2:'low',3:'high'},inplace=True)

NameError: name 'df' is not defined

In [8]:
df

NameError: name 'df' is not defined